<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <!-- <html lang="en-US"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
   <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
   <script src="js/mustangular.js"></script>
   <link rel="stylesheet" type="text/css" href="mustangular.css"></link>
</head>
<body ng-app="myApp" ng-controller="formCtrl" ng-cloak>

<md-content layout-padding flex="50">
   <form ng-submit="submit(a)" autocomplete="on">
      <md-input-container class="md-block" >
         <label> Network </label>
         <input ng-model=a.net>
      </md-input-container >
      <md-input-container class="md-block">
         <label> Channel </label>
         <input ng-model=a.chan>
      </md-input-container>
      <md-input-container class="md-block">
         <label> Station </label>
         <input ng-model=a.sta>
      </md-input-container>
      <md-input-container class="md-block">
         <label> Location </label>
         <input ng-model=a.loc>
      </md-input-container>
      <md-input-container class="md-block">
         <label> Quality </label>
         <input ng-model=a.net>
      </md-input-container>
         <md-datepicker ng-model="a.timewindow.start" md-placeholder="Enter start date" md-max-date="maxDate" ng-change="dateChange()"></md-datepicker> <!-- {{a.timewindow.start | date:'yyyy-MM-ddTHH:mm:ss'}}      -->
         <md-datepicker ng-model="a.timewindow.stop" md-placeholder="Enter end date" ng-change="fixTime()" md-max-date="maxDate" ></md-datepicker> <!-- {{a.timewindow.stop | date: 'yyyy-MM-ddTHH:mm:ss'}} --> 
      <md-input-container class="md-block">
         <label>Metric</label>
         <md-select ng-model="a.metric" id="metric" required>
            <md-option ng-repeat="x in metrics" value="{{x.metric}}">{{x.title}}</md-option>
         </md-select>
      </md-input-container>  
      <md-button type="submit" class="md-raised md-primary">Submit</md-button> 
   </form>
</md-content>

</body>
</html>