<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <!-- <html lang="en-US"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
   <script src="js/mustangular.js"></script>
   <link rel="stylesheet" type="text/css" href="mustangular.css"></link>
</head>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
   <form novalidate ng-submit="submit(a)" autocomplete="on">
    	<div class="controls"> <label> Network: </label> <input type="text" ng-model="a.net"> {{a.net}} </div>
      <div class="controls"> <label> Channel:</label> <input type="text" ng-model="a.chan"> {{a.chan}} </div>
      <div class="controls"> <label> Station:  </label><input type="text" ng-model="a.sta"> {{a.sta}} </div>
      <div class="controls"> <label> Location: </label> <input type="text" ng-model="a.loc"> {{a.loc}} </div>
      <div class="controls"> <label> Quality: </label><input type="text" ng-model="a.qual"> {{a.qual}} </div>
      <div class="controls"> <label> Start time: </label><input type="date" ng-model="a.timewindow.start" placeholder="yyyy-MM-ddTHH:mm:ss"> {{a.timewindow.start | date:'yyyy-MM-ddTHH:mm:ss'}} <div class="required">*required</div></div> 
      <div class="controls"> <label> End time: </label><input type="date" ng-model="a.timewindow.stop" ng-change="fixTime()" placeholder="yyyy-MM-ddTHH:mm:ss"> {{a.timewindow.stop | date: 'yyyy-MM-ddTHH:mm:ss'}} <div class="required">*required</div></div>
      <div class="controls">
      <label for="metric">Metric: </label>
      <select id="metric" ng-model="a.metric" required>
         <option ng-repeat="x in metrics" value="{{x.metric}}">{{x.title}}</option>
      </select>
      <div class="required">*required</div>
      </div>
      <button type="submit">Submit</button>
   </form>
</div>

<div>
   
</div>

</body>
</html>