<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<!--required for angular material -->
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
   
   <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<!--End Material stuff -->
   
   <link rel="stylesheet" type="text/css" href="mustangular.css"></link>
   <script src="js/angular-leaflet-directive.js"></script>
   <script src="js/mustangular.js"></script>
   <script src="js/rainbowvis.js"></script>
   <!-- <link rel="stylesheet" type="text/css" href="mustangular.css"></link> -->
</head>
<body ng-app="myApp2" ng-controller="SimpleMapController">
   <leaflet id="map" width="600px" height="800px" markers="markers" layers="layers"> <!--full screen map!--> </leaflet>
   <md-content id="controls" layout-padding>
      <md-button class="md-raised md-primary" ng-click="goBack()"> Return to form</md-button>
      <p class="error" ng-show="!error.data">{{error.noData}}</p>
      <md-progress-circular ng-show="!error.data" md-mode="indeterminate"></md-progress-circular>
   

      <div ng-show="error.data" layout="column">
         <div class=""> 
            <div> Metric: {{metric.title}} 
               <img class="tooltip" ng-click="tooltip.description = !tooltip.description" src="images/tooltip.png">
               <div class="tooltip-message" ng-show="tooltip.description" ng-bind-html="metric.description"> </div>
               <md-button class="md-raised" ng-click="showAlert($event)"> More info</md-button>
            </div>
            <div class="values"> Values: 
               <ng-bind-html ng-bind-html="metric.tables[0].columns[0].description"></ng-bind-html>
            </div>
            <div> There {{edges.count == "1" ? "is " + edges.count + " station" : "are " + edges.count + " stations" }} on the map.
            </div>
         </div>
         <md-divider></md-divider>
         <div>
            <div> Binning controls: 
               <div class="tooltip">
                  <md-icon class="tooltip" md-svg-src="images/tooltip.svg"> 
                  <md-tooltip md-direction="right">
                    Set the number bins and the range included in bins.
                  </md-tooltip>
               </div>
            </div>
        	   <div> Value range on map: 
               <span>min: {{edges.min}}, </span>
               <span>max: {{edges.max}} </span>
            </div>
         </div>
         
         <md-input-container class="md-block controls">
            <label> Max binning value:</label>
            <input flex="50" type="number" ng-model="binning.max" ng-change="updateBinningValues()" min={{binning.min}}>
            <!-- <div class="tooltip"><md-icon class="tooltip" md-svg-src="images/tooltip.svg">
               <md-tooltip md-direction="below">
                 Values above {{binning.max}} will be not be included in the bins.
               </md-tooltip>
            </div> -->

         </md-input-container >

         <md-input-container class="md-block controls">
            <label> Min binning value:</label>
            <input flex="50" type="number" ng-model="binning.min" ng-change="updateBinningValues()" max={{binning.max}}>
            <!-- <div class="tooltip"><md-icon md-svg-src="images/tooltip.svg">
               <md-tooltip md-direction="below">
                 Values above {{binning.min}} will be not be included in the bins.
               </md-tooltip>
            </div> -->

         </md-input-container >
         
         <md-input-container class="md-block controls">
            <label>Number of bins: </label>
            <input flex="50" type="number" ng-model="binning.count" ng-change="updateBinningValues()" min="1">
            <!-- <div class="tooltip" ><md-icon md-svg-src="images/tooltip.svg">
               <md-tooltip md-direction="below">
                 Values divided into {{binning.count == "1" ? binning.count + " bin" : binning.count + " bins" }}.
               </md-tooltip>
            </div> -->
         </md-input-container >
      </div>
   <div id="key" ng-show="error.data">
      <div> Key:
         <div class="tooltip"><md-icon md-svg-src="images/tooltip.svg">
            <md-tooltip md-direction="right">
              Click on the icon next to a range to toggle stations with values in that range.
            </md-tooltip>
         </div>
      </div>
      <table>
         <tr><th>Icon</th><th>Range</th><th>Count</th></tr>
         <!-- <div flex-xs flex="50"> -->
           <!-- <md-checkbox aria-label="Select All"
                        ng-checked="isChecked()"
                        md-indeterminate="isIndeterminate()"
                        ng-click="toggleAll()">
             <span ng-if="isChecked()">Un-</span>Select All
           </md-checkbox> -->
         <!-- </div> -->
         <tr ng-repeat="icon in icons" ng-disabled="{{icon.count == 0}}">
            <td>
               <div class="icon-key"  style='background-color:#{{icon.color}}'>
                  <md-checkbox ng-show="{{icon.count > 0}}" class="layer-toggle" aria-label="toggle layer" ng-checked="layerVisibility(icon.class, icon.count)" ng-click="toggleLayer(icon.class)"></md-checkbox>
               </div>
            </td>
            <td ng-show="{{icon.position < 0}}">< {{icon.max-0.01| number:2}}</td>
            <td ng-show="{{icon.position == 0}}">{{icon.min | number:2}} - {{icon.max - 0.01 | number:2}}</td>
            <td ng-show="{{icon.position > 0}}">> {{icon.min | number:2}}</td>
            <td>{{icon.count}}</td>
            <td><div class="histogram" style='width:{{icon.count > 0 ? Math.log(icon.count)/Math.log(5) * 10 : 0}}px; background-color:#{{icon.color}}'></div></td>
         </tr>
      </div>
      </table>
   
   
   </div>
   </md-content>
   <div style="visibility: hidden">
     <div class="md-dialog-container" id="moreInfo">
       <md-dialog layout-padding >
       <!-- <md-dialog-content> -->
          Metric: {{metric.title}} 
          <ng-bind-html="metric.description"> </ng-bind-html>
       <!-- </md-dialog-content> -->
       </md-dialog>
     </div>
   </div>
</body>

</html>

<!--TODO: make up a marker that isn't huge,
color code the markers: colored by latency with a legend,
make code more angular and less jquery,
initial zoom level needs to be fitted to markers -->

<!--TODO: Next week: 
Legend, better controls, fix the binning!!!, add date select

 -->