#map{
  float:left;
  margin: 5px;
}

li.included{
  background-color: yellow;
}

.icon, .icon-outlier-high, .icon-outlier-low {
  border-radius: 7px;
  height: 7px;
  width: 7px;
  border: 1px solid black;
}
#key{
  width: 300px;
  height:auto;

}
#key td {
  padding-left: 5px;
}
#key .icon-key {
  width: 20px;
}
#key .icon-key, .histogram{
  width:20px;
  height:20px;
  border: 1px solid black;
}

md-checkbox.md-checked.layer-toggle ._md-icon {
 background-color: transparent !important;
/* background-color: rgba(0, 255, 0, 0.87);*/
 border-width: 1px;
/* border-style: dashed;*/
 
}
tr[disabled="disabled"] {
  color:#808080;
  opacity: 0.5;
}
#controls {
  min-height: 200px;
}
.tooltip {
  display:inline-block;
}
.tooltip md-icon{
    height:15px;
}
.values p{
  margin: 0px;
  display: inline;
}