<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
   <!-- <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.1/dist/leaflet.css" /> -->
   <link rel="stylesheet" type="text/css" href="mustangular.css"></link>
   <link rel="stylesheet" type="text/css" href="rzslider.css"></link>
   <script src="js/angular-leaflet-directive.js"></script>
   <script src="js/mustangular.js"></script>
   <script src="js/rainbowvis.js"></script>
   <script src="js/rzslider.min.js"></script>
   <!-- <link rel="stylesheet" type="text/css" href="mustangular.css"></link> -->
</head>
<body ng-app="myApp2" ng-controller="SimpleMapController">
   <div ng-model="max">{{max}}</div>
   <leaflet id="map" width="600px" height="800px" markers="markers"> <!--full screen map!--> </leaflet>
   <div id="controls">
      <button ng-click="goBack()"> Return to form</button>
      <p class="error" ng-show="!error.data">{{error.noData}}</p>
      <div ng-show="error.data">
         <h1>Metric: {{metricNames}}</h1>
         <h2>There {{edges.count == "1" ? "is " + edges.count + " station" : "are " + edges.count + " stations" }} on the map.</h2>
         <div>
            <h3> Binning controls:</h3>
            <img class="tooltip" ng-mouseover="tooltip.binning = true" ng-mouseleave="tooltip.binning = false" src="images/tooltip.png">
            <div class="tooltip-message" ng-show="tooltip.binning"> Use the slider or the inputs to change the number of bins and the maximum and minimum values that will be included in the bins.</div>
        	   <div> Value range on map: 
               <span>min: {{edges.min}}, </span>
               <span>max: {{edges.max}} </span>
            </div>
         </div>
         
         <div class="controls">
            <label> Max binning value:</label>
            <input type="number" ng-model="binning.max" ng-change="updateBinningValues()" min={{binning.min}}>
            <img class="tooltip" ng-mouseover="tooltip.max = true" ng-mouseleave="tooltip.max = false" src="images/tooltip.png">
            <div class="tooltip-message" ng-show="tooltip.max"> Values above {{binning.max}} will be not be included in the bins.</div>
         </div>
         <div class="controls">
            <label>Min binning value:</label> 
            <input type="number" ng-model="binning.min" ng-change="updateBinningValues()" max={{binning.max}}>
            <img class="tooltip" ng-mouseover="tooltip.min = true" ng-mouseleave="tooltip.min = false"src="images/tooltip.png">
            <div class="tooltip-message" ng-show="tooltip.min">Values below {{binning.min}} will be not be included in the bins.</div>
         </div>
         <div class="controls">
            <label>Number of bins: </label>
            <input type="number" ng-model="binning.count" ng-change="updateBinningValues()" min="1">
            <img class="tooltip" ng-mouseover="tooltip.bin = true" ng-mouseleave="tooltip.bin = false"src="images/tooltip.png">
            <div class="tooltip-message" ng-show="tooltip.bin">Values divided into {{binning.count == "1" ? binning.count + " bin" : binning.count + " bins" }}.</div>
         </div>

         <!-- <span>Test features below:</span> -->
         <div class="controls">
            <label> Maximum and minimum binning values: </label>
            <img class="tooltip" ng-mouseover="tooltip.slider = true" ng-mouseleave="tooltip.slider = false" src="images/tooltip.png">
            <div class="tooltip-message" ng-show="tooltip.slider"> Drag the slider to change the bin range.</div>
            *slider temporarily down
            <!-- <rzslider rz-slider-precision="1" rz-slider-model="binning.min" rz-slider-high="binning.max" rz-slider-options="slider.options"></rzslider> -->
          </div>
      </div>
   <div id="key" ng-show="error.data">
      <h3> Key: </h3>
      <table>
         <tr><th>Icon</th><th>Range</th><th>Count</th></tr>
         <tr ng-repeat="icon in icons">
            <td><div class="icon-key" style='background-color:#{{icon.color}}'></div> {{$index}}</td>
            <td ng-show="{{icon.position < 0}}"> <{{icon.max-0.01| number:2}}</td>
            <td ng-show="{{icon.position == 0}}">{{icon.min | number:2}} - {{icon.max - 0.01 | number:2}}</td>
            <td ng-show="{{icon.position > 0}}">{{icon.min | number:2}}< </td>
            <td>{{icon.count}}</td>
            <td><div class="histogram" style='width:{{icon.count > 0 ? Math.log(icon.count)/Math.log(5) * 10 : 0}}px; background-color:#{{icon.color}}'></div></td>
         </tr>
      </table>
   </div>
   
   </div>
   

   <!-- <div id="colorpicker">
      <input type="text" ng-model="color.low">
      <input type="text" ng-model="color.mid">
      <input type="text" ng-model="color.high">
   </div> -->
   
</body>
</html>

<!--TODO: make up a marker that isn't huge,
color code the markers: colored by latency with a legend,
make code more angular and less jquery,
initial zoom level needs to be fitted to markers -->

<!--TODO: Next week: 
Legend, better controls, fix the binning!!!, add date select

 -->