<!DOCTYPE html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

   <!--required for angular material -->
   
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
   
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.css">

   <!--End angular material -->
   
   <link rel="stylesheet" type="text/css" href="css/mustangular.css"></link>
   <script src="javascripts/angular-leaflet-directive.js"></script>
   <script src="javascripts/mustangular_map.js"></script>
   <script src="javascripts/rainbowvis.js"></script>
   
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="UTF-8"/>
   <link rel="icon" type="image/png" href="images/mustangular_favicon.png"/>
</head>
<!--TODO: map renders like its whole screen -->
<body ng-app="mapApp" layout="row" layout-xs="column" ng-controller="MapCtrl">
   <div id="mapParent" flex-gt-sm="70" flex-sm="100">
      <leaflet id="map" markers="markers" layers="layers"></leaflet>
   </div>
   <md-content id="controls" layout-padding flex-gt-sm="30" flex-sm="100">
      <md-button class="md-raised md-primary" ng-click="goBack()"> Return to form</md-button>
      <p class="error" ng-show="!status.hasData || status.inProgress">{{status.message}}</p>
      
      <md-progress-circular ng-show="status.inProgress" md-mode="indeterminate"></md-progress-circular>

      <div ng-show="status.hasData && !status.inProgress">
         <div id="titleblock"> 
            <h1 class="md-title"> Metric: {{metricInfo.title}} 
               <md-button class="md-raised" ng-click="showAlert($event)"> More info</md-button>
            </h1>
            <div class="values md-subhead"> Values: 
               <ng-bind-html ng-bind-html="metricInfo.tables[0].columns[0].description"></ng-bind-html>
            </div>
            <div> There {{data.count == "1" ? "is " + data.count + " station" : "are " + data.count + " stations" }} on the map.
            </div>
         </div>
         <md-divider></md-divider>
         <div>
            <h2 class="md-title"> Binning controls: 
               <div class="tooltip">
                  <md-icon md-svg-src="images/tooltip.svg"> 
                  <md-tooltip md-direction="right">
                    Set the number and range of bins.
                  </md-tooltip>
               </div>
            </h2>
        	   <div> Value range on map: 
               <span>min: {{data.min}}, </span>
               <span>max: {{data.max}} </span>
            </div>
         </div>
         
         <md-input-container class="md-block controls">
            <label> Min binning value:</label>
            <input type="number" ng-model="binning.min" ng-change="updateBinningValues()" max="{{binning.max - 1}}" min="{{data.min}}" flex="50">
         </md-input-container >
         
         <md-input-container class="md-block controls">
            <label> Max binning value:</label>
            <input type="number" ng-model="binning.max" ng-change="updateBinningValues()" min="{{binning.min + 1}}" max="{{data.max}}" flex="50">
         </md-input-container >
         
         <md-input-container class="md-block controls">
            <label>Number of bins: </label>
            <input type="number" ng-model="binning.count" ng-change="updateBinningValues()" min="1" max="25"  flex="50">
         </md-input-container >
      </div>
      
   <div id="key" ng-show="status.hasData">
      <h2 class="md-title"> Key:
         <div class="tooltip"><md-icon md-svg-src="images/tooltip.svg">
            <md-tooltip md-direction="right">
              Toggle the stations using the checkbox.
            </md-tooltip>
         </div>
      </h2>
      <table>
         
         <tr><th>On/off</th><th>Range</th><th>Count</th></tr>
         <tr class="toggle-all">
            <td>
               <div class="icon-key">
                  <md-checkbox class="layer-toggle" aria-label="toggle all layers" ng-checked="allLayersVisible" ng-click="toggleAllLayers()"></md-checkbox>
               </div>
            </td>
            <td>Toggle all stations</td>
            <td>{{data.count}}</td>
         </tr>
         <tr ng-repeat="bin in binning.bins" ng-disabled="{{bin.count == 0}}">
            <td>
               <div class="icon-key"  style='background-color:#{{bin.color}}'>
                  <md-checkbox ng-show="{{bin.count > 0}}" class="layer-toggle" aria-label="toggle layer" ng-checked="layerVisibility(bin.name, bin.count)" ng-click="toggleLayer(bin.name)"></md-checkbox>
                  <md-tooltip md-direction="right" ng-if="bin.count == 0">
                    There are no stations in this range.
                  </md-tooltip>
               </div>
            </td>
            <td ng-if="bin.position < 0">< {{bin.max-0.01| number:2}}</td>
            <td ng-if="bin.position == 0">{{bin.min | number:2}} - {{bin.max - 0.01 | number:2}}</td>
            <td ng-if="bin.position > 0">> {{bin.min | number:2}}</td>
            <td>{{bin.count}}</td>
            <td><div ng-if="bin.count > 0" class="histogram" style='width:{{100*bin.count/data.count}}px; background-color:#{{bin.color}}'></div></td>
         </tr>
      </div>
      </table>

   </div>
   </md-content>
   <div style="visibility: hidden">
     <div class="md-dialog-container" id="moreInfo">
       <md-dialog layout-padding aria-label="Dialog">
          <md-dialog-content>
             <h2 class="md-title">{{metricInfo.title}}</h2>
             <ng-bind-html ng-bind-html="metricInfo.description"> </ng-bind-html>
          </md-dialog-content>
       </md-dialog>
     </div>
  </div>
</body>

</html>
